<%= form_with(model: intervention, local: true) do |form| %>
  <% if intervention.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(intervention.errors.count, "error") %> prohibited this intervention from being saved:</h2>

      <ul>
      <% intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<script>
  $( document ).ready(function() {
    // console.log( "Its working" );

    customer1 = $("#intervention_customer_id");
    building1 = $('#intervention_building_id');
    battery1 = $('#intervention_battery_id');
    column1 = $('#intervention_column_id');
    elevator1 = $('#intervention_elevator_id');

    building1.css("visibility", "hidden");
    battery1.css("visibility", "hidden");
    column1.css("visibility", "hidden");
    elevator1.css("visibility", "hidden");

    $("#intervention_customer_id").change(function() {
      
      if(customer1 == ''){
         
      }else{
        
        building1.css("visibility", "visible");
        battery1.css("visibility", "hidden");
        column1.css("visibility", "hidden");
        elevator1.css("visibility", "hidden");
      }
      var selected_customer_id = $(this).val();
      $.get('/interventions/buildings_for_customer', {customer_id: selected_customer_id}, function(result) {
        var buildings = result["buildings"];
        $("#intervention_building_id").empty();
        $("#intervention_building_id").append('<option value="">None</option>');
        $.each(result, function(i, j) {
          var row = '<option value="' + j.id + '">' + j.id + '</option>';
          $(row).appendTo("#intervention_building_id")
        });
      });
    });

  
  $("#intervention_building_id").change(function() {
      if(building1 == ''){
        
        
      }else{
        battery1.css("visibility", "visible");
        column1.css("visibility", "hidden");
        elevator1.css("visibility", "hidden");
      }
      var selected_building_id = $(this).val();
      $.get('/interventions/batteries_for_building', {building_id: selected_building_id}, function(result) {
        $("#intervention_battery_id").empty();
        $("#intervention_battery_id").append('<option value="">None</option>');
        $.each(result, function(i, j) {
          var row = '<option value="' + j.id + '">' + j.id + '</option>';
          $(row).appendTo("#intervention_battery_id")
        });
      });
    });


  $("#intervention_battery_id").change(function() {
      if(battery1 == ''){

      }else{
       column1.css("visibility", "visible");
       elevator1.css("visibility", "hidden");
      }
      var selected_battery_id = $(this).val();
      $.get('/interventions/columns_for_battery', {battery_id: selected_battery_id}, function(result) {
        $("#intervention_column_id").empty();
        $("#intervention_column_id").append('<option value="">None</option>');
        $.each(result, function(i, j) {
          var row = '<option value="' + j.id + '">' + j.id + '</option>';
          $(row).appendTo("#intervention_column_id")
        });
      });
    });
  $("#intervention_column_id").change(function() {
      if(column1 == ''){
       
      }else{
        elevator1.css("visibility", "visible");
      }
      var selected_column_id = $(this).val();
      $.get('/interventions/elevators_for_column', {column_id: selected_column_id}, function(result) {
        $("#intervention_elevator_id").empty();
        $("#intervention_elevator_id").append('<option value="">None</option>');
        $.each(result, function(i, h) {
          var row = '<option value="' + h.id + '">' + h.id + '</option>';
          $(row).appendTo("#intervention_elevator_id")
        });
      });
    });
    
  });

</script>

<form class="">

<%= form.label :customer_id, class:"fadeIn", style:"color: black" %>
<%= form.select(:customer_id, Customer.all.collect {|p| [p.compagny_name, p.id]}.sort_by(&:first), :class=>"col-md-2") %> 

    
<%= form.label :building_id, class:"text-center", style:"color: black", id: "buildinghide" %>
<%= form.select(:building_id, Building.all.collect {|t| [t.id, t.customer_id ]}) %>



<%= form.label :battery_id, class:"text-center", style:"color: black", id: "batteryhide" %>
<%= form.select(:battery_id, Battery.all.collect {|b| [b.id, b.building_id ]}, {prompt: "-None-"}, :class=>"col-md-2") %>



<%= form.label :column_id, class:"text-center", style:"color: black", id: "columnhide"  %>
<%= form.select(:column_id, Column.all.collect {|c| [c.id, c.battery_id ]}, {prompt: "-None-"}, :class=>"col-md-2") %>



<%= form.label :elevator_id, class:"text-center", style:"color: black", id: "elevatorhide"  %>
<%= form.select(:elevator_id, Elevator.all.collect {|e| [e.id, e.column_id ]}, {prompt: "-None-"}, :class=>"col-md-2") %>


<div id=""> 
<%= form.label :employee_id, class:"text-center", style:"color: black" %>
<%= form.select(:employee_id, Employee.all.collect {|m| [m.first_name + " " + m.last_name, m.id]}, :class=>"col-md-2") %>
</div>

<div id=""> 
<%= form.label :Description, class:"text-center", style:"color: black" %>
<%= form.text_area :report, cols: "32", rows: "2" %>
</div>

<div id="">    
<%= form.submit value: "Submit", :class=>"col-md-2 btn btn-danger" %>
</div> 
</form>

     
<% end %>